@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --orange: #f96709;
  --text-primary: #222527;
  --text-secondary: #484f54;
  --disabled: #a6adb8;
  --orange-1: #ffb281;
  --orange-2: #fff3eb;
  --linear-orange: linear-gradient(314.2deg, #fb680a 0%, #ffb484 104.06%);
}

* {
  color: var(--text-primary);
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.text-secondary {
  color: var(--text-secondary);
}

.text-disabled {
  color: var(--disabled);
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;

  background-color: #fdf7f3;
}

i {
  display: flex;
}

i.fill-linear-orange {
  background: var(--linear-orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  padding: 12px 16px;
  border-radius: 16px;
  font-size: 18px;
  border: none;
  font-weight: 600;
  min-width: 108px;
  cursor: pointer;
}

.btn.primary {
  background: var(--linear-orange);
  color: white;
}

.btn.primary:hover {
  background: var(--orange);
}

.btn.primary.outlined {
  background: none;
  color: var(--text-primary);
  border: solid 1px var(--orange);
}

.btn.primary.outlined:hover {
  background: var(--orange-2);
}

.btn.btn-other-login {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  background: white;
  font-weight: 400;
  font-size: 18px;
}

.btn.btn-google {
  border: solid 1px #e1e1e1;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
}

.btn.btn-facebook {
  background-color: #19638c;
  color: white;
}

.btn.btn-facebook i {
  color: white;
  font-size: 24px;
  margin: 6px 8px;
}

.btn.btn-facebook span {
  color: white;
}

.btn.btn-other-login span {
  margin-left: 16px;
}

input,
select,
textarea {
  padding: 16px 20px;
  border-radius: 20px;
  border: none;
  background-color: var(--orange-2);
  font-size: 16px;
}

.full {
  width: 100%;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 40px;
  max-width: 1536px;
  position: relative;
  margin: auto;
}

a.logo {
  font-weight: bold;
  font-size: 24px;
}

.card {
  background: white;
  padding: 12px 16px;
  border-radius: 16px;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 18px;
}

.search-input {
  position: relative;
}

.search-input input {
  width: 500px;
  padding: 12px 16px 12px 56px;
  background: white;
}

.search-input i {
  font-size: 24px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--disabled);
}

.rating-active {
  color: #ffcd1d;
}

.rating-disabled {
  color: #e7e2d2;
}

.admin-container {
  width: 100%;
  padding: 40px;
  padding-left: 320px;
}

.icon-linear-primary {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: var(--linear-orange);
}

.input-switch {
  display: none;
}

.label-switch div {
  width: 64px;
  height: 32px;
  background: #e0e0e0;
  position: relative;
  margin: auto;
  border-radius: 16px;
  cursor: pointer;
}

.label-switch div::after {
  content: "";
  width: 32px;
  height: 32px;
  background: var(--disabled);
  position: absolute;
  left: 0;
  border-radius: 16px;
  transition: all ease-in-out 0.1s;
}

input:checked + .label-switch div {
  background: var(--orange-2);
}

input:checked + .label-switch div::after {
  background: var(--linear-orange);
  left: 32px;
}

.msg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  color: white;
  z-index: 50;
  text-align: center;
}

.msg.success-msg {
  background-color: #4ade80;
}

.msg.error-msg {
  background-color: #f87171;
}

.user-box {
  position: relative;
}

.user-box > * {
  cursor: pointer;
}

.user-pict {
  width: 48px;
  height: 48px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.user-checkbox {
  display: none;
}

.user-menu {
  position: absolute;
  top: 105%;
  right: 0;
  flex-direction: column;
  z-index: 40;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: none;
}

.user-menu p {
  margin-bottom: 16px;
}

.user-checkbox:checked + .user-menu {
  display: flex;
}
