<link rel="stylesheet" href="{{ url_for('static', filename='css/adminnav.css') }}">

<aside class="wrapper">
    <a href='/' class="logo">BookApp</a>
    <div class="menu-list">
        <a href="/dashboard" class="menu">
            <i class="icon-category"></i>
            Dashboard
        </a>
        <a href="/catalog" class="menu">
            <i class="icon-folder"></i>
            Catalog
        </a>
        <a href="/scrap" class="menu">
            <i class="icon-paper-plus"></i>
            Scrap
        </a>
    </div>
</aside>

<script>
    const activePath = window.location.pathname
    const menus = document.querySelectorAll('.menu')

    menus.forEach(m => {
        if (m.href.includes(activePath)) {
            m.classList.add('active')
        }
    })
</script>