{% extends 'base.html' %}

{% block title %} Home - Book Apps {% endblock %}

{% block link %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    {% include 'nav.html' %}
    <div class="container">
        <aside class="filter-wrapper">
            <div class="card filter-title">
                <i class="icon-filter"></i>
                <div>Filter</div>
            </div>
            <div class="card filter-body">
                <div class="filter-wrap">
                    <div class="title">Genre</div>
                    <div class="filter-list">
                        <div>
                            <input type="checkbox" name="genre" id="fiction" value="fiction">
                            <label for="fiction" class="filter-item active">
                                Fiction
                            </label>
                        </div>
                        <div>
                            <input type="checkbox" name="genre" id="romance" value="romance">
                            <label for="romance" class="filter-item active">
                                Romance
                            </label>
                        </div>
                    </div>
                </div>
                <div class="filter-wrap">
                    <div class="title">Languages</div>
                    <div class="filter-list">
                        <div>
                            <input type="checkbox" name="language" id="english" value="English">
                            <label for="english" class="filter-item active">
                                English
                            </label>
                        </div>
                        <div>
                            <input type="checkbox" name="language" id="indonesian" value="Indonesian">
                            <label for="indonesian" class="filter-item active">
                                Indonesian
                            </label>
                        </div>
                        <div>
                            <input type="checkbox" name="language" id="other" value="other">
                            <label for="other" class="filter-item active">
                                Other
                            </label>
                        </div>
                    </div>
                </div>
                <div class="filter-wrap">
                    <div class="title">Published Year</div>
                    <div class="published-year">
                        <input id="from-date" type="number" />
                        <span>-</span>
                        <input id="until-date" type="number" />
                    </div>
                </div>
                <button id="apply-btn" class="btn primary">Apply</button>
            </div>
        </aside>
        <main>
            <div class="header">
                <h1 class="title">Explore Books</h1>
                <div class="sort">
                    <label for="sort">Sort By</label>
                    <select id="sort" name="sort">
                        <option value="date dsc">Newest</option>
                        <option value="date asc">Oldest</option>
                        <option value="price dsc">High Price</option>
                        <option value="price asc">Low Price</option>
                        <option value="rating dsc">Top Rating</option>
                        <option value="rating asc">Low Rating</option>
                    </select>
                </div>
            </div>
            <div class="book-list">
                {% for book in books %}
                <a href="/books/{{ book['_id'] }}" class="book-item">
                    <img src="{{ book['image'] }}?fife=w400-h600" alt="note-of-kim" />
                    <div class="rating-price">
                        <div class="rating">
                            <i class="icon-star"></i>
                            {{ book['rating'] }}
                        </div>
                        <p class="price">${{ book['price'] }}</p>
                    </div>
                    <div>
                        <p class="title">{{ book['title'] }}</p>
                        <span class="author text-secondary">{{ book['author'] }}</span>
                    </div>
                </a>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/books.js') }}"></script>
{% endblock %}