{% extends 'base.html' %}

{% block title %} {{ book['title'] }} {% endblock %}

{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}"> {% endblock %}

{% block content %}
    {% include 'nav.html' %}
    <div class="container">
        <div class="book-info">
            <span class="author text-secondary">{{ book['author'] }}</span>
            <h1 class="book-title">{{ book['title'] }}</h1>
            <div class="more-info text-secondary">
                <div class="rating">
                    <div class="stars">
                        <i class="icon-star rating-active"></i>
                        <i class="icon-star rating-active"></i>
                        <i class="icon-star rating-active"></i>
                        <i class="icon-star rating-active"></i>
                        <i class="icon-star rating-disabled"></i>
                    </div>
                    <p class="number">{{ book['rating'] }}</p>
                </div>
                <p>{{ book['published_date'].strftime("%Y") }}</p>
                <p>{{ book['publisher'] }}</p>
            </div>
            <div class="description-box">
                <input type="checkbox" id="read-more">
                <label for="read-more"></label>
                <div class="description">
                    {{ book['description'] }}
                </div>
            </div>
            <a href="{{ book['link'] }}" target="_blank">
                <button class="btn primary">Get this book</button>
            </a>
            <div class="card additional-info">
                <h3 class="title">Additional Information</h3>
                <div class="info-lists">
                    <div class="info">
                        <h5 class="info-title">Publisher</h5>
                        <p class="info-desc text-secondary">{{ book['publisher'] }}</p>
                    </div>
                    <div class="info">
                        <h5 class="info-title">Published Date</h5>
                        <p class="info-desc text-secondary">{{ book['published_date'].strftime("%b %d, %Y") }}</p>
                    </div>
                    <div class="info">
                        <h5 class="info-title">Genres</h5>
                        <p class="info-desc text-secondary">
                            {% for genre in book['genres'] %}
                                {{ genre }}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="info">
                        <h5 class="info-title">Total Pages</h5>
                        <p class="info-desc text-secondary">{{ book['total_pages'] }}</p>
                    </div>
                    <div class="info">
                        <h5 class="info-title">Language</h5>
                        <p class="info-desc text-secondary">{{ book['language'] }}</p>
                    </div>
                    <div class="info">
                        <h5 class="info-title">ISBN</h5>
                        <p class="info-desc text-secondary">{{ book['isbn'] }}</p>
                    </div>
                </div>
            </div>
        </div>
        <img class="book-img" src="{{ book['image'] }}?fife=w600-h900" alt="book-img" />
    </div>
{% endblock %} %}