{% extends 'base.html' %}

{% block title %} Book 1 {% endblock %}

{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}"> {% endblock %}

{% block content %}
    <nav class="nav">
        <a href='/' class="logo">BookApp</a>
        <div class="search-input">
            <input type="text" name="search" placeholder="Search books" /> 
            <i class="icon-search"></i>
        </div>
        <a href="/login">
            <button class="btn primary">Login</button>
        </a>
    </nav>
    <div class="container">
        <div class="book-info">
            <span class="author text-secondary">Fanny Fatullah</span>
            <h1 class="book-title">Note of Kim</h1>
            <div class="more-info text-secondary">
                <div class="rating">
                    <div class="stars">
                        <i class="icon-star rating-active"></i>
                        <i class="icon-star rating-active"></i>
                        <i class="icon-star rating-active"></i>
                        <i class="icon-star rating-active"></i>
                        <i class="icon-star rating-disabled"></i>
                    </div>
                    <p class="number">4.1</p>
                </div>
                <p>2021</p>
                <p>Naura Books</p>
            </div>
            <div class="description-box">
                <input type="checkbox" id="read-more">
                <label for="read-more"></label>
                <div class="description">
                    Dalam hidup Kimmy, si bocah gembil berusia 3 tahun, yummy food mendadak tidak lagi menjadi daftar kebahagiaan nomor 1! Kini, yang dia inginkan adalah mama baru!
                    
                    
                    Yang bisa masak sup ayam enak seperti Miss San.
                    
                    Yang bumbum-nya empuk seperti Miss San.
                    
                    Yang suka memeluknya seperti Miss San.
                    
                    Kimmy mana paham cinta antara orang dewasa. Bahwa papanya, Dinan, harus sekaligus mencari istri yang tepat, bukan sekadar mama baru untuknya. Trauma setelah diselingkuhi itu masih berdarah!
    
                    
                    
                    If Papa don't marry Miss San, aku cry cry!
                    
                    Papa love aku no more!
    
                    
                    
                    Feel sad,
                    
                    Kimmy
                    
                    
                    
                    [Mizan, Noura Publishing, Novel, Romance, Indonesia]
                </div>
            </div>
            <a href="#">
                <button class="btn primary">Get this book</button>
            </a>
            <div class="card additional-info">
                <h3 class="title">Additional Information</h3>
                <div class="info-lists">
                    <div class="info">
                        <h5 class="info-title">Publisher</h5>
                        <p class="info-desc text-secondary">Naura Books</p>
                    </div>
                    <div class="info">
                        <h5 class="info-title">Publisher</h5>
                        <p class="info-desc text-secondary">Naura Books</p>
                    </div>
                    <div class="info">
                        <h5 class="info-title">Publisher</h5>
                        <p class="info-desc text-secondary">Naura Books</p>
                    </div>
                    <div class="info">
                        <h5 class="info-title">Publisher</h5>
                        <p class="info-desc text-secondary">Naura Books</p>
                    </div>
                    <div class="info">
                        <h5 class="info-title">Publisher</h5>
                        <p class="info-desc text-secondary">Naura Books</p>
                    </div>
                </div>
            </div>
        </div>
        <img class="book-img" src="https://books.google.com/books/publisher/content/images/frontcover/kqFQEAAAQBAJ?fife=w600-h900" alt="book-img" />
    </div>
{% endblock %} %}