{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block link %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboardtop.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}
    {% include 'adminnav.html' %}

    <main class="admin-container">
        <div class="dashboard-top-wrapper">
            <div class="greet">
                <p class="subtitle text-secondary">
                    Welcome Back!
                </p>
                <h1 class="title">
                    Admin
                </h1>
            </div>
            <img src="{{ url_for('static', filename='images/admin.jpg') }}" alt="" srcset="">
        </div>
        <div class="stats">
            <div class="card">
                <i class="icon-profile icon-linear-primary"></i>
                <p class="text-secondary">Total Users</p>
                <h3>{{ users_count }}</h3>
            </div>
            <div class="card">
                <i class="icon-folder icon-linear-primary"></i>
                <p class="text-secondary">Total Books</p>
                <h3>{{ books_count }}</h3>
            </div>
        </div>
        <div class="charts">
            <div class="card">
                <h3 class="card-title">
                    Top 5 Genres
                </h3>
                <div class="chart">
                    <canvas id="genre-chart" width="400"></canvas>
                </div>
            </div>
            <div class="card">
                <h3 class="card-title">
                    Published Year Statisctics
                </h3>
                <div class="chart">
                    <canvas id="pub-year-chart" width="400" height="400px"></canvas>
                </div>
            </div>
            <div class="card">
                <h3 class="card-title">
                    Rating Statisctics
                </h3>
                <div class="chart">
                    <canvas id="rating-chart" width="400" height="400px"></canvas>
                </div>
            </div>
            <div class="card">
                <h3 class="card-title">
                    Languages Statisctics
                </h3>
                <div class="chart">
                    <canvas id="language-chart" width="400"></canvas>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const genreData = {{ genre_data|tojson }}
    const publishedDateData = {{ published_date_data|tojson }}
    const ratingsData = {{ ratings_data|tojson }}
    const languagesData = {{ languages_data|tojson }}
</script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}