{% extends 'base.html' %}

{% block title %} Edit Book {% endblock %}

{% block link %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboardtop.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/editbook.css') }}">
{% endblock %}

{% block content %}
    {% include 'adminnav.html' %}

    <main class="admin-container">
        <div class="dashboard-top-wrapper">
            <div class="greet">
                <p class="subtitle text-secondary">
                    Fill the form below to
                </p>
                <h1 class="title">
                    Edit Book
                </h1>
            </div>
            {% include 'userbox.html' %}
        </div>
        <div class="card">
            <form id='edit-form' class="edit-form">
                <div>
                    <img src="https://books.google.com/books/publisher/content/images/frontcover/dB3BDwAAQBAJ" alt="book-img">
                </div>
                <div class="full">
                    <input class="full" type="text" placeholder="Title" name="Tittle" id="title" required>
                    <textarea class="full link" type="text" placeholder="Description" name="links" id="links" required></textarea>
                    <div class="input-group">
                        <input class="full" type="text" placeholder="Author" name="Tittle" id="title" required>
                        <input class="full" type="text" placeholder="Publisher" name="Tittle" id="title" required>
                        <input class="full" type="date" placeholder="Published Date" name="Tittle" id="title" required>
                    </div>
                    <div class="input-group">
                        <input class="full" type="number" placeholder="Total Pages" name="Tittle" id="title" required>
                        <input class="full" type="text" placeholder="ISBN" name="Tittle" id="title" required>
                        <input class="full" type="text" placeholder="Language" name="Tittle" id="title" required>
                    </div>
                    <div class="input-group">
                        <input class="full" type="text" placeholder="Genres" name="Tittle" id="title" required>
                        <input class="full" type="number" placeholder="Prices" name="Tittle" id="title" required>
                        <input class="full" type="url" placeholder="Link" name="Tittle" id="title" required>
                    </div>
                    <div class="edit-btn-group">
                        <button type="reset" class="btn primary outlined">Clear</button>
                        <button type="submit" class="btn primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='js/scrap.js') }}"></script>
{% endblock %}