{% extends 'base.html' %}

{% block title %} Login {% endblock %}
{% block link %} 

<link rel="stylesheet" href="css/loginstyle.css">
{% endblock %}
{% block content %}
    <div class="container login">
        <div class="wrapper">
            <div class="login-text">
                <h1>Login</h1>
                <p>Please login to see book’s detail or use our search, filter, and sort</p>
            </div>
            <form class="input-wrapper full">
                <input class="full" id="username" type="text" placeholder="Username" autocomplete="off">
                <input class="full" id="password" type="password" placeholder="Password" autocomplete="off">
                <button class="btn btn primary full">Login</button>
            </form>
            <div class="no-account text-secondary">
                <p>You don't have any account yet? <a href="/register" style="color: #F96709;">Sign up here</a></p>
            </div>
            <div class="or">
                or
            </div>
            <div class="login-sosmed full">
                <button class="btn btn-other-login btn-google full">
                    <img src="icons/google.svg" width="28px" height="28px" alt="icon-google" />
                    <span>Sign in with Google</span>
                </button>
                <button class="btn btn-other-login btn-facebook full">
                    <img src="icons/facebook.svg" width="28px" height="28px" alt="icon-google" />
                    <span>Sign in with Facebook</span>
                </button>
            </div>
        </div>
    </div>
{% endblock %} %}