<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles/global.css">
    <link rel="stylesheet" href="styles/loginstyle.css">
</head>
<body>
    <div class="container login">
        <div class="header">
            <header>
                <a href="">
                    <h1>Book App</h1>
                </a>
            </header>
        </div>
        <main>
            <div class="wrapper">
                <div class="login-text">
                    <h1>Login</h1>
                    <p>Please login to see book’s detail or use our search, filter, and sort</p>
                </div>
                <form class="input-wrapper full">
                    <input class="full" id="username" type="text" placeholder="Username">
                    <input class="full" id="password" type="password" placeholder="Password">
                    <button class="btn btn primary full">Login</button>
                </form>
                <div class="no-account">
                    <p>You don't have any account yet? <a href="" style="color: #F96709;">Sign up here</a></p>
                </div>
                <div class="or">
                    or
                </div>
                <div class="login-sosmed full">
                    <button class="btn btn-other-login btn-google full">
                        <img src="icons/google.svg" width="32px" height="32px" alt="icon-google" />
                        <span>Sign in with Google</span>
                    </button>
                    <button class="btn btn-other-login btn-facebook full">
                        <img src="icons/facebook.svg" width="32px" height="32px" alt="icon-google" />
                        <span>Sign in with Facebook</span>
                    </button>
                </div>
            </div>
        </main>
    </div>
</body>
</html>