{% extends 'base.html' %}

{% block title %} Login {% endblock %}
{% block link %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle.css') }}">
{% endblock %}
{% block content %}
    <div class="container login">
        <div class="wrapper">
            <div class="login-text">
                <h1>Login</h1>
                <p>Please login to see book’s detail or use our search, filter, and sort</p>
            </div>
            <form class="input-wrapper full" id="login-form">
                <input class="full" name="email" type="email" placeholder="Email" autocomplete="off">
                <input class="full" name="password" type="password" placeholder="Password" autocomplete="off">
                <button class="btn btn primary full">Login</button>
            </form>
            <div class="no-account text-secondary">
                <p>You don't have any account yet? <a href="/signup" style="color: #F96709;">Sign up here</a></p>
            </div>
            <div class="or">
                or
            </div>
            <div class="login-sosmed full">
                <a class="btn btn-other-login btn-google full" href="/user/google">
                    <img src="{{ url_for('static', filename='icons/google.svg') }}" width="28px" height="28px" alt="icon-google" />
                    <span>Sign in with Google</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %} %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}