<nav class="nav">
    <a href='/' class="logo">BookApp</a>
    <div class="search-input">
        <input type="text" name="search" placeholder="Search books" autocomplete="off" id="search" /> 
        <i class="icon-search"></i>
        <div id="search-result">

        </div>
    </div>
    {% if session['user'] %}
    <div style="display: flex;align-items: center;">
        {% if session['user'].role == 'admin' %}
        <a href="/admin" class="btn primary outlined" style="margin-right: 20px;">Dashboard</a>
        {% endif %}
        {% include 'userbox.html' %}
    </div>
    {% else %}
    <a href="/login">
        <button class="btn primary">Login</button>
    </a>
    {% endif %}
</nav>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const inputSearch = document.getElementById('search')

    inputSearch.addEventListener('input', async e => {
        const { value } = e.target

        const res = await axios.get(`/books/search?query=${value}`)
        const { books } = await res.data

        const searchResult = document.getElementById('search-result')
        searchResult.innerHTML = ''

        await books.forEach(b => {
            const a = document.createElement('a')
            a.href = `/books/${b._id}`
            a.target = '_blank'
            a.classList.add('search-result-item')
            const img = document.createElement('img')
            img.src = b.image
            const p = document.createElement('p')
            p.textContent = b.title
            a.append(img)
            a.append(p)
            searchResult.append(a)
        })
    })
</script>