<nav class="nav">
    <a href='/' class="logo">BookApp</a>
    <div class="search-input">
        <input type="text" name="search" placeholder="Search books" autocomplete="off" /> 
        <i class="icon-search"></i>
    </div>
    {% if session['user'] %}
    <div style="display: flex;align-items: center;">
        {% if session['user'].role == 'admin' %}
        <a href="/admin" class="btn primary outlined" style="margin-right: 20px;">Dashboard</a>
        {% endif %}
        {% include 'userbox.html' %}
    </div>
    {% else %}
    <a href="/login">
        <button class="btn primary">Login</button>
    </a>
    {% endif %}
</nav>