{% extends 'base.html' %}

{% block title %} Register {% endblock %}
{% block link %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/registerstyle.css') }}">
{% endblock %}
{% block content %}
    <div class="container signup">
        <div class="wrapper">
            <div class="signup-text">
                <h1>Sign up</h1>
                <p>Please fill form below to start explore our features</p>
            </div>
            <form id="signup-form" class="input-wrapper full" >
                    <input class="full" name="email" type="text" placeholder="Email">
                    <input class="full" name="password" type="password" placeholder="Password">
                    <input class="full" name="confirm_password" type="password" placeholder="Confirm Password">
                    <button type="submit" class="btn btn primary full">Sign Up</button>
            </form>
            <div class="no-account">
                    <p>You're already have an account? <a href="/login" style="color: #F96709;">Login here</a></p>
            </div>
            <div class="or">
                    or continue with
            </div>
            <div class="login-sosmed full">
                <button class="btn btn-other-login btn-google full">
                    <img src="icons/google.svg" width="32px" height="32px" alt="icon-google" />
                    <span>Sign in with Google</span>
                </button>
                <button class="btn btn-other-login btn-facebook full">
                    <img src="icons/facebook.svg" width="32px" height="32px" alt="icon-google" />
                    <span>Sign in with Facebook</span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='js/signup.js') }}"></script>
{% endblock %}